<a href="https://colab.research.google.com/github/mmistroni/TensorFlowPlayground/blob/master/HousePrices.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h3> Authenticate User </h3>

In [0]:
from google.colab import auth
auth.authenticate_user()

In [0]:
# importing libraries
import pandas as pd

<h3>FEtching data from clo9ud storage </h3>

In [23]:
!gsutil cp gs://mm_tensorflow_bucket/pp-2018-part2.csv	 /tmp/pp-2018-part2.csv
!gsutil cp gs://mm_tensorflow_bucket/pp-2015-part1.csv	 /tmp/pp-2015-part1.csv

Copying gs://mm_tensorflow_bucket/pp-2018-part2.csv...
- [1 files][ 84.7 MiB/ 84.7 MiB]
Operation completed over 1 objects/84.7 MiB.
Copying gs://mm_tensorflow_bucket/pp-2015-part1.csv...
- [1 files][ 83.4 MiB/ 83.4 MiB]
Operation completed over 1 objects/83.4 MiB.

<h3> Readign the dataset from Land Registry</h3>

In [0]:
def read_land_registry_datasets(filename):
  
  df =  pd.read_csv(filename, names=['unique_id',	'price_paid','deed_date','postcode',
                                                       'property_type',	'new_build',	'estate_type',	
                                                       'saon',	'paon',	'street','locality',
                                                       'town',	'district',	'county',	'transaction_category','linked_data_uri']).fillna('') 
  print ('Found {} in {}'.format(df.shape[0], filename))
  return df

In [0]:
from datetime import datetime
def find_sales_for_postcode(postcode, filenames):
  print('Finding sold prices for postcode:{}'.format(postcode))
  lr_datasets = [read_land_registry_datasets(filename) for filename in filenames]
  
  results = []
  for df in lr_datasets:
    restricted = df[df['postcode'].str.contains('BN2 5')][['price_paid', 'deed_date', 'postcode', 'property_type', 'saon', 'paon', 'street']]
    flats_only = restricted[restricted['property_type'] == 'F']
    print('found {} flats for postcode {} '.format(flats_only.shape[0], postcode))
    results.append(flats_only)
    
  all_res =  pd.concat(results)
  print('All res has shape{}'.format(all_res.shape))
  return all_res

In [36]:
filenames = ['/tmp/pp-2018-part2.csv', '/tmp/pp-2015-part1.csv']
final = find_sales_for_postcode('BN2 5', filenames)
print('Exportign to csv...with {}'.format(final.shape))
filename = '/tmp/Results.csv'.format(datetime.now().strftime('%Y%m%d-%H:%M'))
final.to_csv(filename, header=True)

Finding sold prices for postcode:BN2 5
Found 511575 in /tmp/pp-2018-part2.csv
Found 504743 in /tmp/pp-2015-part1.csv
found 32 flats for postcode BN2 5
found 50 flats for postcode BN2 5
All res has shape(82, 7)
Exportign to csv...with (82, 7)

In [37]:

print('Copying to bucket')
!gsutil cp /tmp/Results.csv gs://mm_tensorflow_bucket/

Copying to bucket
Copying file:///tmp/Results.csv [Content-Type=text/csv]...
/ [1 files][  5.7 KiB/  5.7 KiB]
Operation completed over 1 objects/5.7 KiB.

In [0]:
# Get gsc service
def get_gcs_service():
  from googleapiclient.discovery import build
  gcs_service = build('storage', 'v1')
  return gcs_service

In [44]:
def download_from_storage(bucketname, bucketfilename, tmpfile):
  from apiclient.http import MediaIoBaseDownload

  gcs_service = get_gcs_service()
  with open(tmpfile, 'wb') as f:
    request = gcs_service.objects().get_media(bucket=bucketname,
                                              object=bucketfilename)
    media = MediaIoBaseDownload(f, request)

    done = False
    while not done:
      # _ is a placeholder for a progress object that we ignore.
      # (Our file is small, so we skip reporting progress.)
      _, done = media.next_chunk()

  print('Download complete')
  
filename = "/tmp/frombucket.csv"
download_from_storage("mm_tensorflow_bucket", "Results.csv",   filename)

Download complete

In [45]:
!cat /tmp/frombucket.csv

,price_paid,deed_date,postcode,property_type,saon,paon,street
6080,135000,2018-09-28 00:00,BN2 5JR,F,36B,,BRISTOL GARDENS
8072,500000,2018-05-04 00:00,BN2 5RA,F,"OCEAN HEIGHTS, 40",FLAT 6,ROEDEAN ROAD
12033,191500,2018-10-10 00:00,BN2 5UX,F,STARBOARD COURT,FLAT 22,
16020,518000,2018-09-26 00:00,BN2 5SH,F,SOVEREIGN COURT,FLAT 39,THE STRAND
16029,352500,2018-09-20 00:00,BN2 5XB,F,70,,VICTORY MEWS
18019,365000,2018-08-30 00:00,BN2 5YW,F,"ST AUGUSTINES, 14",FLAT 8,THE LEES
58744,512734,2018-06-12 00:00,BN2 5ZF,F,"SIRIUS, 6",APARTMENT 82,THE BOARDWALK
98217,325000,2018-03-02 00:00,BN2 5XB,F,81,,VICTORY MEWS
110882,350000,2018-01-05 00:00,BN2 5TQ,F,F16,,MARINE GATE
123934,118000,2018-04-16 00:00,BN2 5UB,F,COURCELS,25,ARUNDEL STREET
221213,337500,2018-08-28 00:00,BN2 5SH,F,SOVEREIGN COURT,FLAT 15,THE STRAND
225176,500000,2018-08-15 00:00,BN2 5WE,F,WELLINGTON COURT,FLAT 8,THE STRAND
231149,562500,2018-08-10 00:00,BN2 5SH,F,SOVEREIGN COURT,FLAT 38,THE STRAND
241587,125000,2018-11-08 00:00,BN2 5FW,F,SWALLOW COURT,FLAT 37,ALBOURNE CLOSE
243497,275000,2018-09-14 00:00,BN2 5JD,F,RUGBY COURT,FLAT 8,BRISTOL GARDENS
247539,365000,2018-08-06 00:00,BN2 5JB,F,9,GROUND AND FIRST FLOOR MAISONETTE,RUGBY PLACE
401835,500000,2018-10-25 00:00,BN2 5ZE,F,"SIRIUS, 2",APARTMENT 9,THE BOARDWALK
427892,500000,2018-08-01 00:00,BN2 5ZF,F,"SIRIUS, 6",APARTMENT 48,THE BOARDWALK
427893,500000,2018-08-01 00:00,BN2 5ZF,F,"SIRIUS, 6",APARTMENT 67,THE BOARDWALK
427894,490000,2018-08-01 00:00,BN2 5ZF,F,"SIRIUS, 6",APARTMENT 77,THE BOARDWALK
427895,500000,2018-08-01 00:00,BN2 5ZF,F,"SIRIUS, 6",APARTMENT 87,THE BOARDWALK
427896,490000,2018-08-01 00:00,BN2 5ZF,F,"SIRIUS, 6",APARTMENT 98,THE BOARDWALK
428612,380000,2018-12-05 00:00,BN2 5SH,F,SOVEREIGN COURT,FLAT 41,THE STRAND
430166,500000,2018-09-18 00:00,BN2 5ZF,F,"SIRIUS, 6",APARTMENT 91,THE BOARDWALK
430224,525000,2018-09-21 00:00,BN2 5ZF,F,"SIRIUS, 6",APARTMENT 75,THE BOARDWALK
430225,535000,2018-08-24 00:00,BN2 5ZD,F,"ORION, 9",APARTMENT 1,THE BOARDWALK
504519,511500,2018-01-22 00:00,BN2 5ZF,F,"SIRIUS, 6",APARTMENT 95,THE BOARDWALK
504520,477090,2018-01-22 00:00,BN2 5ZD,F,"ORION, 9",APARTMENT 67,THE BOARDWALK
504532,227500,2018-02-23 00:00,BN2 5DE,F,82,,DONALD HALL ROAD
505083,275000,2018-12-21 00:00,BN2 5UX,F,STARBOARD COURT,FLAT 31,
507093,400000,2018-10-10 00:00,BN2 5ZE,F,"SIRIUS, 2",APARTMENT 14,THE BOARDWALK
507095,480000,2018-11-21 00:00,BN2 5ZF,F,"SIRIUS, 6",APARTMENT 102,THE BOARDWALK
21581,264000,2015-01-29 00:00,BN2 5XB,F,73,,VICTORY MEWS
22252,175000,2015-03-31 00:00,BN2 5UX,F,STARBOARD COURT,FLAT 24,
29843,180000,2015-05-01 00:00,BN2 5NX,F,HOLBROOK,FLAT 1,FINDON ROAD
49575,312500,2015-03-11 00:00,BN2 5XY,F,MERTON COURT,FLAT 23,THE STRAND
79699,282000,2015-08-17 00:00,BN2 5SJ,F,SOVEREIGN COURT,FLAT 57,THE STRAND
79714,280000,2015-09-11 00:00,BN2 5XB,F,76,,VICTORY MEWS
81695,305000,2015-09-25 00:00,BN2 5XZ,F,MERTON COURT,FLAT 80,THE STRAND
85719,292000,2015-06-05 00:00,BN2 5XL,F,COPENHAGEN COURT,FLAT 8,THE STRAND
85720,240000,2015-09-22 00:00,BN2 5XL,F,COPENHAGEN COURT,FLAT 3,THE STRAND
91736,310000,2015-09-18 00:00,BN2 5TQ,F,C16,,MARINE GATE
93533,330000,2015-09-02 00:00,BN2 5TN,F,A5,,MARINE GATE
95893,400000,2015-09-18 00:00,BN2 5AB,F,30,,SUSSEX SQUARE
99877,190000,2015-09-25 00:00,BN2 5DN,F,145,,DONALD HALL ROAD
130173,204000,2015-10-30 00:00,BN2 5UW,F,PORTSIDE,FLAT 17,
134151,440000,2015-10-14 00:00,BN2 5WE,F,WELLINGTON COURT,FLAT 1,THE STRAND
142442,300000,2015-12-01 00:00,BN2 5XA,F,21,,VICTORY MEWS
162377,275000,2015-01-06 00:00,BN2 5AD,F,"THE LEAS, 34 - 35",FLAT 1A,SUSSEX SQUARE
183451,399950,2015-04-24 00:00,BN2 5TP,F,H6,,MARINE GATE
193301,451000,2015-02-19 00:00,BN2 5TN,F,F1,,MARINE GATE
205199,310000,2015-06-30 00:00,BN2 5TP,F,A10,,MARINE GATE
206685,280000,2015-07-15 00:00,BN2 5WJ,F,COLLINGWOOD COURT,FLAT 66,THE STRAND
220170,255000,2015-06-23 00:00,BN2 5XJ,F,ST. VINCENTS COURT,FLAT 25,THE STRAND
230473,260000,2015-12-04 00:00,BN2 5XJ,F,ST. VINCENTS COURT,FLAT 29,THE STRAND
232495,205500,2015-07-06 00:00,BN2 5TH,F,31,GROUND FLOOR FLAT,ARUNDEL STREET
236827,110000,2015-10-27 00:00,BN2 5UP,F,2,,WESTERN CONCOURSE
240846,333000,2015-12-14 00:00,BN2 5UW,F,PORTSIDE,FLAT 11,
242875,154000,2015-12-15 00:00,BN2 5PZ,F,KESTREL COURT,FLAT 13,SWANBOROUGH PLACE
243040,260000,2015-07-07 00:00,BN2 5TP,F,B7,,MARINE GATE
244000,182500,2015-09-16 00:00,BN2 5DF,F,238,,DONALD HALL ROAD
246909,220000,2015-11-06 00:00,BN2 5XB,F,54,,VICTORY MEWS
246931,270000,2015-12-09 00:00,BN2 5SE,F,BRITANNIA COURT,FLAT 3,THE STRAND
248270,287000,2015-06-26 00:00,BN2 5XA,F,13,,VICTORY MEWS
259911,195000,2015-09-04 00:00,BN2 5UW,F,PORTSIDE,FLAT 24,
290958,389950,2015-12-16 00:00,BN2 5WE,F,WELLINGTON COURT,FLAT 15,THE STRAND
292926,330000,2015-11-27 00:00,BN2 5AB,F,31,BASEMENT FLAT 10,SUSSEX SQUARE
292998,250000,2015-01-14 00:00,BN2 5TP,F,G6,,MARINE GATE
304333,152000,2015-05-05 00:00,BN2 5JR,F,38B,,BRISTOL GARDENS
309541,305000,2015-03-02 00:00,BN2 5XZ,F,MERTON COURT,FLAT 46,THE STRAND
365667,193000,2015-12-11 00:00,BN2 5JR,F,12,GROUND FLOOR FLAT,BRISTOL GARDENS
382686,295000,2015-11-06 00:00,BN2 5XJ,F,ST. VINCENTS COURT,FLAT 7,THE STRAND
382998,192000,2015-10-12 00:00,BN2 5JS,F,6A,,PRINCES TERRACE
383021,350000,2015-10-09 00:00,BN2 5XZ,F,MERTON COURT,FLAT 48,THE STRAND
387001,499000,2015-10-12 00:00,BN2 5XY,F,MERTON COURT,FLAT 40,THE STRAND
393886,330000,2015-05-29 00:00,BN2 5SL,F,NEPTUNE COURT,FLAT 38,THE STRAND
395334,155000,2015-04-17 00:00,BN2 5TG,F,9,FLAT 1,ARUNDEL STREET
395610,223000,2015-05-29 00:00,BN2 5UX,F,STARBOARD COURT,FLAT 3,
425549,179950,2015-01-09 00:00,BN2 5JB,F,5,FIRST FLOOR FLAT,RUGBY PLACE
472855,283000,2015-08-14 00:00,BN2 5XA,F,28,,VICTORY MEWS
475437,345000,2015-04-14 00:00,BN2 5UZ,F,MARINERS QUAY,FLAT 4,
500213,279000,2015-05-29 00:00,BN2 5SE,F,BRITANNIA COURT,FLAT 1,THE STRAND