<a href="https://colab.research.google.com/github/mmistroni/TensorFlowPlayground/blob/master/QSTK_Test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!pip install numpy==1.6.1

Collecting numpy==1.6.1
  Downloading https://files.pythonhosted.org/packages/44/3b/63aa0464c495de6bac1f9f5a6c4626264ea07ad85b51cf6ebfdbbaa9fab4/numpy-1.6.1-cp27-cp27mu-manylinux1_x86_64.whl (13.6MB)
    100% |████████████████████████████████| 13.6MB 1.8MB/s
keras-preprocessing 1.0.9 has requirement numpy>=1.9.1, but you'll have numpy 1.6.1 which is incompatible.
pystan 2.18.1.0 has requirement numpy>=1.7, but you'll have numpy 1.6.1 which is incompatible.
pywavelets 1.0.2 has requirement numpy>=1.9.1, but you'll have numpy 1.6.1 which is incompatible.
tensorflow-hub 0.3.0 has requirement numpy>=1.12.0, but you'll have numpy 1.6.1 which is incompatible.
astropy 2.0.12 has requirement numpy>=1.9.0, but you'll have numpy 1.6.1 which is incompatible.
xarray 0.11.3 has requirement numpy>=1.12, but you'll have numpy 1.6.1 which is incompatible.
osqp 0.5.0 has requirement numpy>=1.7, but you'll have numpy 1.6.1 which is incompatible.
tensorboard 1.13.1 has requirement numpy>=1.12.0, but you'll have numpy 1.6.1 which is incompatible.
fbprophet 0.4.post2 has requirement numpy>=1.10.0, but you'll have numpy 1.6.1 which is incompatible.
magenta 0.3.19 has requirement numpy>=1.11.0, but you'll have numpy 1.6.1 which is incompatible.
bcolz 1.2.1 has requirement numpy>=1.7, but you'll have numpy 1.6.1 which is incompatible.
numexpr 2.6.9 has requirement numpy>=1.7, but you'll have numpy 1.6.1 which is incompatible.
scs 2.0.2 has requirement numpy>=1.7, but you'll have numpy 1.6.1 which is incompatible.
librosa 0.6.3 has requirement numpy>=1.8.0, but you'll have numpy 1.6.1 which is incompatible.
nibabel 2.3.3 has requirement numpy>=1.7.1, but you'll have numpy 1.6.1 which is incompatible.
pyarrow 0.12.1 has requirement numpy>=1.14, but you'll have numpy 1.6.1 which is incompatible.
mlxtend 0.14.0 has requirement numpy>=1.10.4, but you'll have numpy 1.6.1 which is incompatible.
bokeh 1.0.4 has requirement numpy>=1.7.1, but you'll have numpy 1.6.1 which is incompatible.
resampy 0.2.1 has requirement numpy>=1.10, but you'll have numpy 1.6.1 which is incompatible.
msgpack-numpy 0.4.3.2 has requirement numpy>=1.9.0, but you'll have numpy 1.6.1 which is incompatible.
keras-applications 1.0.7 has requirement numpy>=1.9.1, but you'll have numpy 1.6.1 which is incompatible.
tensorflow 1.13.1 has requirement numpy>=1.13.3, but you'll have numpy 1.6.1 which is incompatible.
fancyimpute 0.4.2 has requirement numpy>=1.10, but you'll have numpy 1.6.1 which is incompatible.
spacy 2.0.18 has requirement numpy>=1.15.0, but you'll have numpy 1.6.1 which is incompatible.
tensorflow-estimator 1.13.0 has requirement numpy>=1.13.3, but you'll have numpy 1.6.1 which is incompatible.
pyemd 0.5.1 has requirement numpy<2.0.0,>=1.9.0, but you'll have numpy 1.6.1 which is incompatible.
keras 2.2.4 has requirement numpy>=1.9.1, but you'll have numpy 1.6.1 which is incompatible.
autograd 1.2 has requirement numpy>=1.12, but you'll have numpy 1.6.1 which is incompatible.
gym 0.10.11 has requirement numpy>=1.10.4, but you'll have numpy 1.6.1 which is incompatible.
featuretools 0.4.1 has requirement numpy>=1.13.3, but you'll have numpy 1.6.1 which is incompatible.
featuretools 0.4.1 has requirement pandas>=0.23.0, but you'll have pandas 0.22.0 which is incompatible.
matplotlib 2.2.4 has requirement numpy>=1.7.1, but you'll have numpy 1.6.1 which is incompatible.
mir-eval 0.5 has requirement numpy>=1.7.0, but you'll have numpy 1.6.1 which is incompatible.
pretty-midi 0.2.8 has requirement numpy>=1.7.0, but you'll have numpy 1.6.1 which is incompatible.
umap-learn 0.3.7 has requirement numpy>=1.13, but you'll have numpy 1.6.1 which is incompatible.
opencv-contrib-python 3.4.3.18 has requirement numpy>=1.11.1, but you'll have numpy 1.6.1 which is incompatible.
pymc3 3.6 has requirement numpy>=1.13.0, but you'll have numpy 1.6.1 which is incompatible.
tensorflow-probability 0.6.0 has requirement numpy>=1.13.3, but you'll have numpy 1.6.1 which is incompatible.
yellowbrick 0.9.1 has requirement numpy>=1.13.0, but you'll have numpy 1.6.1 which is incompatible.
gensim 3.6.0 has requirement numpy>=1.11.3, but you'll have numpy 1.6.1 which is incompatible.
knnimpute 0.1.0 has requirement numpy>=1.10, but you'll have numpy 1.6.1 which is incompatible.
cvxpy 1.0.15 has requirement numpy>=1.14, but you'll have numpy 1.6.1 which is incompatible.
imbalanced-learn 0.4.3 has requirement numpy>=1.8.2, but you'll have numpy 1.6.1 which is incompatible.
albumentations 0.1.12 has requirement imgaug<0.2.7,>=0.2.5, but you'll have imgaug 0.2.8 which is incompatible.
albumentations 0.1.12 has requirement numpy>=1.11.1, but you'll have numpy 1.6.1 which is incompatible.
kapre 0.1.3.1 has requirement numpy>=1.8.0, but you'll have numpy 1.6.1 which is incompatible.
tables 3.4.4 has requirement numpy>=1.8.0, but you'll have numpy 1.6.1 which is incompatible.
scikit-learn 0.20.3 has requirement numpy>=1.8.2, but you'll have numpy 1.6.1 which is incompatible.
pandas 0.22.0 has requirement numpy>=1.9.0, but you'll have numpy 1.6.1 which is incompatible.
chainer 5.0.0 has requirement numpy>=1.9.0, but you'll have numpy 1.6.1 which is incompatible.
fastai 0.7.0 has requirement torch<0.4, but you'll have torch 1.0.1.post2 which is incompatible.
scipy 1.1.0 has requirement numpy>=1.8.2, but you'll have numpy 1.6.1 which is incompatible.
thinc 6.12.1 has requirement numpy>=1.7.0, but you'll have numpy 1.6.1 which is incompatible.
h5py 2.8.0 has requirement numpy>=1.7, but you'll have numpy 1.6.1 which is incompatible.
theano 1.0.4 has requirement numpy>=1.9.1, but you'll have numpy 1.6.1 which is incompatible.
cufflinks 0.14.6 has requirement numpy>=1.9.2, but you'll have numpy 1.6.1 which is incompatible.
opencv-python 3.4.5.20 has requirement numpy>=1.11.1, but you'll have numpy 1.6.1 which is incompatible.
imgaug 0.2.8 has requirement numpy>=1.15.0, but you'll have numpy 1.6.1 which is incompatible.
Installing collected packages: numpy
  Found existing installation: numpy 1.14.6
    Uninstalling numpy-1.14.6:
      Successfully uninstalled numpy-1.14.6
Successfully installed numpy-1.6.1

In [0]:
!pip install scipy

Requirement already satisfied: scipy in /usr/local/lib/python2.7/dist-packages (1.1.0)
Collecting numpy>=1.8.2 (from scipy)
  Downloading https://files.pythonhosted.org/packages/c4/33/8ec8dcdb4ede5d453047bbdbd01916dbaccdb63e98bba60989718f5f0876/numpy-1.16.2-cp27-cp27mu-manylinux1_x86_64.whl (17.0MB)
    100% |████████████████████████████████| 17.0MB 1.6MB/s
fastai 0.7.0 has requirement torch<0.4, but you'll have torch 1.0.1.post2 which is incompatible.
albumentations 0.1.12 has requirement imgaug<0.2.7,>=0.2.5, but you'll have imgaug 0.2.8 which is incompatible.
featuretools 0.4.1 has requirement pandas>=0.23.0, but you'll have pandas 0.22.0 which is incompatible.
Installing collected packages: numpy
  Found existing installation: numpy 1.6.1
    Uninstalling numpy-1.6.1:
      Successfully uninstalled numpy-1.6.1
Successfully installed numpy-1.16.2

In [0]:
!pip install matplotlib

Requirement already satisfied: matplotlib in /usr/local/lib/python2.7/dist-packages (2.2.4)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python2.7/dist-packages (from matplotlib) (0.10.0)
Requirement already satisfied: numpy>=1.7.1 in /usr/local/lib/python2.7/dist-packages (from matplotlib) (1.16.2)
Requirement already satisfied: backports.functools-lru-cache in /usr/local/lib/python2.7/dist-packages (from matplotlib) (1.5)
Requirement already satisfied: subprocess32 in /usr/local/lib/python2.7/dist-packages (from matplotlib) (3.5.3)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python2.7/dist-packages (from matplotlib) (1.0.1)
Requirement already satisfied: pytz in /usr/local/lib/python2.7/dist-packages (from matplotlib) (2018.9)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python2.7/dist-packages (from matplotlib) (1.11.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python2.7/dist-packages (from matplotlib) (2.5.3)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python2.7/dist-packages (from matplotlib) (2.3.1)
Requirement already satisfied: setuptools in /usr/local/lib/python2.7/dist-packages (from kiwisolver>=1.0.1->matplotlib) (40.8.0)

In [0]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python2.7/dist-packages (0.22.0)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python2.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: python-dateutil in /usr/local/lib/python2.7/dist-packages (from pandas) (2.5.3)
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python2.7/dist-packages (from pandas) (1.16.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python2.7/dist-packages (from python-dateutil->pandas) (1.11.0)

In [0]:
!pip install qstk

Collecting qstk
  Downloading https://files.pythonhosted.org/packages/8c/15/3298c4ee5d187a462883a7f80d7621a05e8b880a8234729e733769a3476f/QSTK-0.2.8.tar.gz (42.4MB)
    100% |████████████████████████████████| 42.4MB 503kB/s
Requirement already satisfied: numpy>=1.6.1 in /usr/local/lib/python2.7/dist-packages (from qstk) (1.16.2)
Requirement already satisfied: scipy>=0.9.0 in /usr/local/lib/python2.7/dist-packages (from qstk) (1.1.0)
Requirement already satisfied: matplotlib>=1.1.0 in /usr/local/lib/python2.7/dist-packages (from qstk) (2.2.4)
Requirement already satisfied: pandas>=0.7.3 in /usr/local/lib/python2.7/dist-packages (from qstk) (0.22.0)
Collecting python-dateutil==1.5 (from qstk)
  Downloading https://files.pythonhosted.org/packages/b4/7c/df59c89a753eb33c7c44e1dd42de0e9bc2ccdd5a4d576e0bfad97cc280cb/python-dateutil-1.5.tar.gz (233kB)
    100% |████████████████████████████████| 235kB 21.9MB/s
Requirement already satisfied: scikit-learn>=0.11 in /usr/local/lib/python2.7/dist-packages (from qstk) (0.20.3)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python2.7/dist-packages (from matplotlib>=1.1.0->qstk) (0.10.0)
Requirement already satisfied: backports.functools-lru-cache in /usr/local/lib/python2.7/dist-packages (from matplotlib>=1.1.0->qstk) (1.5)
Requirement already satisfied: subprocess32 in /usr/local/lib/python2.7/dist-packages (from matplotlib>=1.1.0->qstk) (3.5.3)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python2.7/dist-packages (from matplotlib>=1.1.0->qstk) (1.0.1)
Requirement already satisfied: pytz in /usr/local/lib/python2.7/dist-packages (from matplotlib>=1.1.0->qstk) (2018.9)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python2.7/dist-packages (from matplotlib>=1.1.0->qstk) (1.11.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python2.7/dist-packages (from matplotlib>=1.1.0->qstk) (2.3.1)
Requirement already satisfied: setuptools in /usr/local/lib/python2.7/dist-packages (from kiwisolver>=1.0.1->matplotlib>=1.1.0->qstk) (40.8.0)
Building wheels for collected packages: qstk, python-dateutil
  Building wheel for qstk (setup.py) ... done
  Stored in directory: /root/.cache/pip/wheels/18/00/6b/01cf34934bf6a54b9d6df1c7a40230e18be1fd05d28e97d5ef
  Building wheel for python-dateutil (setup.py) ... done
  Stored in directory: /root/.cache/pip/wheels/3e/57/ae/3a3f171dc8c46ac987fa8d7a56fcc19d82ff1a7151cf46a228
Successfully built qstk python-dateutil
fastai 0.7.0 has requirement torch<0.4, but you'll have torch 1.0.1.post2 which is incompatible.
botocore 1.12.106 has requirement python-dateutil<3.0.0,>=2.1; python_version >= "2.7", but you'll have python-dateutil 1.5 which is incompatible.
bokeh 1.0.4 has requirement python-dateutil>=2.1, but you'll have python-dateutil 1.5 which is incompatible.
matplotlib 2.2.4 has requirement python-dateutil>=2.1, but you'll have python-dateutil 1.5 which is incompatible.
jupyter-client 5.2.4 has requirement python-dateutil>=2.1, but you'll have python-dateutil 1.5 which is incompatible.
Installing collected packages: python-dateutil, qstk
  Found existing installation: python-dateutil 2.5.3
    Uninstalling python-dateutil-2.5.3:
      Successfully uninstalled python-dateutil-2.5.3
Successfully installed python-dateutil-1.5 qstk-0.2.8

In [0]:
!pip install pandas_datareader

Requirement already satisfied: pandas_datareader in /usr/local/lib/python2.7/dist-packages (0.7.0)
Requirement already satisfied: lxml in /usr/local/lib/python2.7/dist-packages (from pandas_datareader) (4.2.6)
Requirement already satisfied: pandas>=0.19.2 in /usr/local/lib/python2.7/dist-packages (from pandas_datareader) (0.22.0)
Requirement already satisfied: wrapt in /usr/local/lib/python2.7/dist-packages (from pandas_datareader) (1.10.11)
Requirement already satisfied: requests>=2.3.0 in /usr/local/lib/python2.7/dist-packages (from pandas_datareader) (2.18.4)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python2.7/dist-packages (from pandas>=0.19.2->pandas_datareader) (2018.9)
Requirement already satisfied: python-dateutil in /usr/local/lib/python2.7/dist-packages (from pandas>=0.19.2->pandas_datareader) (2.5.3)
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python2.7/dist-packages (from pandas>=0.19.2->pandas_datareader) (1.16.2)
Requirement already satisfied: idna<2.7,>=2.5 in /usr/local/lib/python2.7/dist-packages (from requests>=2.3.0->pandas_datareader) (2.6)
Requirement already satisfied: urllib3<1.23,>=1.21.1 in /usr/local/lib/python2.7/dist-packages (from requests>=2.3.0->pandas_datareader) (1.22)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python2.7/dist-packages (from requests>=2.3.0->pandas_datareader) (2019.3.9)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python2.7/dist-packages (from requests>=2.3.0->pandas_datareader) (3.0.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python2.7/dist-packages (from python-dateutil->pandas>=0.19.2->pandas_datareader) (1.11.0)

In [0]:
# Importing  required packages
import pandas  as pd
pd.TimeSeries = pd.Series

import QSTK.qstkutil.qsdateutil as du
import QSTK.qstkutil.tsutil as tsu
import QSTK.qstkutil.DataAccess as da

import datetime as dt
import matplotlib.pyplot as plt
import pandas as pd

<h2> Computing Sharpe Ratio and Returns </h2>

In [0]:
import logging
logger = logging.getLogger(__name__)
from math import sqrt

def get_prices(ls_symbols, dt_start, dt_end):
    dt_timeofday = dt.timedelta(hours=16)
    ldt_timestamps = du.getNYSEdays(dt_start, dt_end, dt_timeofday)
    #c_dataobj = da.DataAccess('Yahoo')
    c_dataobj = da.DataAccess('Yahoo', cachestalltime=0)
    ls_keys = ['close']
    ldf_data = c_dataobj.get_data(ldt_timestamps, ls_symbols, ls_keys)
    return  dict(zip(ls_keys, ldf_data)) # each field is returned as a single dataframe

def compute_daily_returns(prices):
    na_rets = prices.copy()
    return tsu.returnize0(na_rets)

def compute_standard_deviations(daily_returns):
    return np.std(daily_returns)

def normalize_prices(prices):
    return prices / prices[0,:]

def compute_sharpe_ratio(daily_returns, standard_dev):
    
    avg = np.average(daily_returns)# / len(daily_returns)
    return (sqrt(252) * avg) / standard_dev

In [4]:
import pandas as pd
from pandas.tseries.offsets import BDay
import pandas_datareader.data as dr
import numpy as np
from datetime import datetime


def get_closes(start, end, symbol):
  return dr.DataReader(symbol, 'iex', start, end)['close']


def compute_statistics(symbol, prices):
  #prices = get_closes(start, end, symbol)
  daily_returns = compute_daily_returns(prices)
  std_dev  = compute_standard_deviations(daily_returns)
  sharpe = compute_sharpe_ratio(daily_returns, std_dev)
  total_returns = (prices[-1]*1.0 / prices[0]) -1
  
  
  return {'std_dev' : std_dev,
         'sharpe_ratio' : sharpe,
         'total_returns' : total_returns,
         'symbol': symbol}
  

end = pd.Timestamp(datetime.now())
start = end - BDay(250)
symbols = ['MARA','DPW','TOPS','HAON','HTBX','IMNP','OPGN','SUZBY','ARCO','TRQ','ARTX','PDLI','ENPH','PLPL',
           'DNN','ZYNE','EYEG','FLKS','APHB','PHBI','ENDV']

all_dicts = []
for sym in symbols:
  try:
    all_dicts.append((sym, get_closes(start, end, sym)))#compute_statistics(start, end ,sym)) #compute_statistics(sym, start, end))
  except Exception as e:
    print('Unable to fetch statistics for %s:%s' % (sym, str(e)))

Unable to fetch statistics for HAON:'HAON'
Unable to fetch statistics for SUZBY:'SUZBY'
Unable to fetch statistics for PLPL:'PLPL'
Unable to fetch statistics for PHBI:'PHBI'
Unable to fetch statistics for ENDV:'ENDV'

<h2>Computing Statistics </h2>

In [0]:
    
all_df = []
for symbol, prices in all_dicts:
  all_df.append(compute_statistics(symbol, prices))
    
    

df = pd.DataFrame(all_df)[['symbol', 'total_returns','std_dev', 'sharpe_ratio']]
df

   symbol  total_returns   std_dev  sharpe_ratio
0    MARA      -0.840117  0.072510     -1.143323
1     DPW      -0.936306  0.064622     -2.309098
2    TOPS      -0.516515  0.078360     -0.033539
3    HTBX      -0.501873  0.107234      0.298117
4    IMNP      -0.854929  0.077182     -2.578374
5    OPGN      -0.319009  0.051002     -0.096822
6    ARCO      -0.108906  0.022691     -0.155033
7     TRQ      -0.436823  0.024026     -1.391064
8    ARTX      -0.048571  0.025576      0.075221
9    PDLI       0.297071  0.027180      0.842863
10   ENPH       1.855263  0.051253      1.747077
11    DNN       0.089512  0.032806      0.431709
12   ZYNE      -0.680000  0.048453     -1.166498
13   EYEG      -0.302941  0.067686      0.160871
14   FLKS      -0.912929  0.098861     -0.690207
15   APHB      -0.790598  0.056358     -1.357087

<h2> Computng Future Earnings</h2>

In [0]:
import urllib
import json


def get_future_earnings_df(symbol):

  base_url = 'https://us-central1-datascience-projects.cloudfunctions.net/future_earnings/{}'.format(symbol)
  res = urllib.urlopen(base_url)
  json_dict = res.read() #json.load(res)
  try:
    df = pd.read_json(json_dict)

    cons  = df['Consensus'].values
    fisc = df['Fiscal'].values

    #print('Cons:{}, Fisc:{}'.format(type(cons), type(fisc)))

    converted = pd.DataFrame([cons], columns=fisc)
    converted['symbol'] = symbol
    return converted
  except Exception:
    print('exception in retrieving earnings for {}'.format(symbol))

# Get earning estimates for all of them and find common columns
# We need to repeat this process for every stock. And then save as CSV and reduce to common columns
#symbols = ['MARA','DPW','TOPS','HAON','HTBX','IMNP','OPGN','SUZBY','ARCO','TRQ','ARTX','PDLI','ENPH','PLPL',
#           'DNN','ZYNE','EYEG','FLKS','APHB','PHBI','ENDV']

symbols = """AAPL
MSFT
JNJ
XOM
JPM
AMZN
GOOGL
T
F
CVX
PG
INTC
PFE
CSCO
BRK.B
GOOG
VZ
DIS
HD
PEP
V
SPY
BAC
MRK
IBM
GE
WFC
ABBV
KO
BA
""".split('\n')

all_dfs = [get_future_earnings_df(symbol) for symbol in symbols]

exception in retrieving earnings for SPY
exception in retrieving earnings for

In [0]:
good_ones = filter(lambda df: df is not None, all_dfs)

min_shape = min(map(lambda df: df.shape[1], good_ones))
col_to_project = good_ones[0].columns[0:min_shape]

print ('Cols to project:{}'.format(col_to_project))


reduced_df = reduce(lambda acc, item: item if acc is None else acc.append(item), good_ones, None)

reduced_df

Cols to project:Index([u'Sep 2019', u'Sep 2020', u'Sep 2021'], dtype='object')

,Dec 2019,Dec 2020,Dec 2021,Dec 2022,Jan 2020,Jan 2021,Jan 2022,Jan 2023,Jul 2019,Jul 2020,Jul 2021,Jun 2019,Jun 2020,Jun 2021,Jun 2022,Sep 2019,Sep 2020,Sep 2021,Sep 2022,symbol
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.38,12.76,14.45,12.13,AAPL
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.41,4.93,5.65,NaN,NaN,NaN,NaN,NaN,MSFT
0,8.57,9.23,9.95,10.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,JNJ
0,4.07,5.11,5.08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,XOM
0,9.73,10.57,11.29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,JPM
0,26.93,40.40,60.49,82.26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AMZN
0,47.40,55.64,71.48,86.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GOOGL
0,3.60,3.67,3.76,3.81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,T
0,1.21,1.27,1.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,F
0,6.60,7.79,8.94,9.26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CVX
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.46,4.77,5.12,5.53,NaN,NaN,NaN,NaN,PG
0,4.50,4.72,4.87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,INTC
0,2.86,2.99,3.31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PFE
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.74,3.01,3.17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CSCO
0,10.84,11.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BRK.B
0,47.38,55.71,71.48,86.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GOOG
0,4.66,4.79,4.95,5.22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,VZ
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.05,7.14,7.50,NaN,DIS
0,NaN,NaN,NaN,NaN,10.08,11.01,11.74,12.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HD
0,5.50,5.94,6.38,7.09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PEP
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.32,6.17,7.15,NaN,V
0,2.85,3.20,3.62,3.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BAC
0,4.65,5.16,5.79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MRK
0,13.92,14.11,13.94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IBM
0,0.53,0.60,0.95,1.08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GE
0,4.97,5.69,5.88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WFC
0,8.68,9.26,10.10,10.66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ABBV
0,2.09,2.26,2.40,2.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,KO
0,20.13,23.12,26.37,27.85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BA

In [0]:
merged= pd.merge(df, reduced_df, how='left', on='symbol')

merged

# SAving to csv file
merged.to_csv('/tmp/results.csv')

In [0]:
# checking the file is there
!cat /tmp/results.csv

,symbol,total_returns,std_dev,sharpe_ratio,Dec 2018,Dec 2019,Dec 2020,Dec 2021
0,MARA,-0.8401171875,0.0725101291844523,-1.1433231706174947,,,,
1,DPW,-0.9363057324840764,0.06462200479311135,-2.3090978032687732,,,,
2,TOPS,-0.5165150789851604,0.07836030090433346,-0.0335387683314553,,,,
3,HTBX,-0.5018726591760299,0.10723411715376657,0.2981174781266307,-1.1,-0.65,-1.15,1.73
4,IMNP,-0.8549290141971606,0.0771819353512611,-2.5783738467237844,,,,
5,OPGN,-0.3190086206896551,0.05100224067362572,-0.09682198998222241,-2.17,-0.93,,
6,ARCO,-0.10890560802518545,0.022690515923983755,-0.15503346605648313,0.28,0.42,,
7,TRQ,-0.4368231046931408,0.02402636700576219,-1.391063695511287,,,,
8,ARTX,-0.0485714285714286,0.025575539757631372,0.07522148278457004,0.15,0.2,0.26,
9,PDLI,0.2970711297071129,0.02718021434039187,0.8428634375496403,-0.51,0.13,0.2,
10,ENPH,1.8552631578947372,0.05125302266418206,1.747077289987807,-0.14,0.13,0.22,0.39
11,DNN,0.08951175406871603,0.03280606013389643,0.43170875253846946,,,,
12,ZYNE,-0.6799999999999999,0.048453186647603806,-1.1664975423467159,-2.87,-2.43,-2.6,-1.19
13,EYEG,-0.30294117647058827,0.06768617347696518,0.16087096367170195,-0.31,-0.27,-0.26,
14,FLKS,-0.9129287598944591,0.09886108812676392,-0.6902070370134881,,,,
15,APHB,-0.7905982905982906,0.05635781302857536,-1.3570871680448728,,,,

<h2> computing moving averages </h2>

In [0]:
# Authenticating to Google so we can copy over the stuff
from google.colab import auth
auth.authenticate_user()

In [0]:
!gsutil cp /tmp/results.csv gs://datascience-bucket-mm

Copying file:///tmp/results.csv [Content-Type=text/csv]...
/ [1 files][  1.3 KiB/  1.3 KiB]
Operation completed over 1 objects/1.3 KiB.

In [3]:
import pandas as pd
from datetime import date, datetime
end = pd.Timestamp(datetime.now())
start = end - BDay(250)
import numpy as np


def get_data(start, end, symbol):
  return dr.DataReader(symbol, 'iex', start, end)['close']


def compute_avg(prices):
  mapped = map(lambda tpl: tpl[1], prices)
  return np.average(mapped) if prices else 0.0


def compute_moving_avg(prices, days):
  res = [(prices[i][0], prices[i][1],  compute_avg(prices[i-days:i])) for i in range(0, len(prices))]
  return res
  
  

end = pd.Timestamp(datetime.now())
start = end - BDay(400)  
res =get_data(start, end, 'AMZN')  

all_data = zip(res.index, res)

result = compute_moving_avg(all_data, 200)

dr.DataReader('AMZN', 'iex', date(2019,1,14), date(2019,1,23))

NameError: ignored

<h2> Creating Market Simulator </h2>

In [0]:


import csv
from datetime import date, datetime
from pandas.tseries.offsets import BDay
import pandas as pd
import logging
from pprint import pprint

multiline = \
"""
2008-12-03,AAPL,BUY,130
2008-12-08,AAPL,SELL,130
2008-12-05,IBM,BUY,50
"""


def parse_line(line):
  raw_data = line.split(',')
  return Order(raw_data)

def find_all_tickers(orders):
  return set(map(lambda t: t[1], orders))  

def find_date_range(dates):
  ts = pd.bdate_range(dates[0], dates[-1])
  return map(lambda t: t.date().strftime('%Y-%m-%d'), ts)

def generate_trade(row):
  asOfDate, ticker, orderType, qty = row.split(',')
    
  return [datetime.strptime(asOfDate, "%Y-%m-%d").date(),
            ticker, orderType, int(qty)]
    
def market_sim(initialCash, orders):
  trades = map(lambda order: generate_trade(order), orders)
  trades = sorted(trades, key=lambda t: t[0])
  
  tickers = find_all_tickers(trades)
  
  
  date_range = find_date_range(map(lambda t: t[0], trades))
  
  return tickers, date_range
  
import functools
def memoize(func):
  cache = func.cache = {}
  @functools.wraps(func)
  def memoized_func(*args, **kwargs):
      key = str(args) + str(kwargs)
      if key not in cache:
          cache[key] = func(*args, **kwargs)
      return cache[key]
  return memoized_func
  
@memoize
def fetch(start_date, end_date, ticker):
  return dr.DataReader(ticker, 'iex', start_date, end_date)
  
def fetch_stock_price_at(as_of_date_str, ticker, start, end):
  all = fetch(start, end, ticker)
  return all.loc[as_of_date_str]['close']
  

def update_ownership(trade, ownership_df):
  print ('tradeis:{}'.format(trade))
  cobdate, symbol, direction, qty = trade.split(',')
  
  upd_qty = int(qty) if direction == 'BUY' else int(qty)*-1
  prev_vals = ownership_df[[symbol]].shift(1).values[-1]
  prev_val = prev_vals[0] if all(prev_vals) else 0
  print('Prev val for {}={}'.format(symbol, prev_val))
  new_val = prev_val + upd_qty
  print('Setting new value for {}:{}'.format(symbol, new_val))
  ownership_df.set_value(cobdate, symbol,  new_val)
  print ('Ownership.cols{}'.format(ownership_df.columns))
  ownership_df[[symbol]] = ownership_df[[symbol]].ffill()
  
  
def update_cash(cash_array, trade_money):  
  pass
  
  
def simulate(trades, cash_array, ownership_array):
  pass
  
  
all_trades  = filter(lambda row:bool(row), map(lambda row: row.strip(), multiline.split('\n')))

tickers, date_range = market_sim(1000000,all_trades)
cash = pd.DataFrame(columns=['Cash'], index=date_range)
portfolio = pd.DataFrame(columns=tickers, index=date_range)

In [57]:
from pprint import pprint

pprint (date_range)
dt = date_range[0]
print cash.index.tolist()
print cash.loc['2008-12-03']
cash.set_value('2008-12-03', 'Cash', 10)
# Suggestions

#  Read csv into trades array
#  Scan trades for symbols and dates
#  Read in the data
#  Scan trades to update casg
#  Scan trades to create ownership array and value
#  Scan trades to create total fund value

# Go thru order and create an array of cash

from pprint import pprint
import pandas_datareader.data as dr

#print fetch_stock_price_at('2019-01-14', 'AMZN', date(2019,1,14), date(2019,1,18))

map(lambda t: update_ownership(t, portfolio), all_trades)


print(portfolio)

#nonblank= portfolio.apply(lambda x: x.fillna(portfolio.AAPL.shift())).ffill()

#nonblank = portfolio.fillna(method='bfill').fillna('ffill')

#print (nonblank)
print('-------')
#print (portfolio.AAPL.shift(1))

['2008-12-03', '2008-12-04', '2008-12-05', '2008-12-08']
['2008-12-03', '2008-12-04', '2008-12-05', '2008-12-08']
Cash    NaN
Name: 2008-12-03, dtype: object
tradeis:2008-12-03,AAPL,BUY,130
Prev val for AAPL=nan
Setting new value for AAPL:nan
Ownership.colsIndex([u'AAPL', u'IBM'], dtype='object')
tradeis:2008-12-08,AAPL,SELL,130
Prev val for AAPL=nan
Setting new value for AAPL:nan
Ownership.colsIndex([u'AAPL', u'IBM'], dtype='object')
tradeis:2008-12-05,IBM,BUY,50
Prev val for IBM=nan
Setting new value for IBM:nan
Ownership.colsIndex([u'AAPL', u'IBM'], dtype='object')
            AAPL  IBM
2008-12-03   NaN  NaN
2008-12-04   NaN  NaN
2008-12-05   NaN  NaN
2008-12-08   NaN  NaN
-------

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:7: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  import sys
/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:75: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead