<a href="https://colab.research.google.com/github/mmistroni/TensorFlowPlayground/blob/master/TensorFlow_2_0_tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h3>Import libraries </h3>

In [0]:
import pandas as pd
import tensorflow as tf

<h3> Loading up the data </h3>

In [2]:
csv_file = tf.keras.utils.get_file('heart.csv', 'https://storage.googleapis.com/applied-dl/heart.csv')
df = pd.read_csv(csv_file)
df.head()

Downloading data from https://storage.googleapis.com/applied-dl/heart.csv
16384/13273 [=====================================] - 0s 0us/step

   age  sex  cp  trestbps  chol  ...  oldpeak  slope  ca        thal  target
0   63    1   1       145   233  ...      2.3      3   0       fixed       0
1   67    1   4       160   286  ...      1.5      2   3      normal       1
2   67    1   4       120   229  ...      2.6      2   2  reversible       0
3   37    1   3       130   250  ...      3.5      3   0      normal       0
4   41    0   2       130   204  ...      1.4      1   0      normal       0

[5 rows x 14 columns]

<h3> Convert thal column which is an object in the dataframe to a discrete numerical value.</h3

In [3]:
df['thal'] = pd.Categorical(df['thal'])
df['thal'] = df.thal.cat.codes
df.head()

   age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0   63    1   1       145   233    1  ...      0      2.3      3   0     2       0
1   67    1   4       160   286    0  ...      1      1.5      2   3     3       1
2   67    1   4       120   229    0  ...      1      2.6      2   2     4       0
3   37    1   3       130   250    0  ...      0      3.5      3   0     3       0
4   41    0   2       130   204    0  ...      0      1.4      1   0     3       0

[5 rows x 14 columns]

<h3>Load data using tf.data.Dataset</h3>
<p>Use tf.data.Dataset.from_tensor_slices to read the values from a pandas dataframe.

One of the advantages of using tf.data.Dataset is it allows you to write simple, highly efficient data pipelines. Read the loading data guide to find out more.</p>

In [4]:
target = df.pop('target')
# Making at dataset of remaining feature cols
dataset = tf.data.Dataset.from_tensor_slices((df.values, target.values))
for feat, targ in dataset.take(5):
  print ('Features: {}, Target: {}'.format(feat, targ))

Features: [ 63.    1.    1.  145.  233.    1.    2.  150.    0.    2.3   3.    0.
   2. ], Target: 0
Features: [ 67.    1.    4.  160.  286.    0.    2.  108.    1.    1.5   2.    3.
   3. ], Target: 1
Features: [ 67.    1.    4.  120.  229.    0.    2.  129.    1.    2.6   2.    2.
   4. ], Target: 0
Features: [ 37.    1.    3.  130.  250.    0.    0.  187.    0.    3.5   3.    0.
   3. ], Target: 0
Features: [ 41.    0.    2.  130.  204.    0.    2.  172.    0.    1.4   1.    0.
   3. ], Target: 0

<p>Since a pd.Series implements the __array__ protocol it can be used transparently nearly anywhere you would use a np.array or a tf.Tensor.</p>

In [5]:
tf.constant(df['thal'])

<tf.Tensor: shape=(303,), dtype=int8, numpy=
array([2, 3, 4, 3, 3, 3, 3, 3, 4, 4, 2, 3, 2, 4, 4, 3, 4, 3, 3, 3, 3, 3,
       3, 4, 4, 3, 3, 3, 3, 4, 3, 4, 3, 4, 3, 3, 4, 2, 4, 3, 4, 3, 4, 4,
       2, 3, 3, 4, 3, 3, 4, 3, 3, 3, 4, 3, 3, 3, 3, 3, 3, 4, 4, 3, 3, 4,
       4, 2, 3, 3, 4, 3, 4, 3, 3, 4, 4, 3, 3, 4, 4, 3, 3, 3, 3, 4, 4, 4,
       3, 3, 4, 3, 4, 4, 3, 4, 3, 3, 3, 4, 3, 4, 4, 3, 3, 4, 4, 4, 4, 4,
       3, 3, 3, 3, 4, 3, 4, 3, 4, 4, 3, 3, 2, 4, 4, 2, 3, 3, 4, 4, 3, 4,
       3, 3, 4, 2, 4, 4, 3, 4, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4,
       4, 3, 3, 3, 4, 3, 4, 3, 4, 3, 3, 3, 3, 3, 3, 3, 4, 3, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 4, 4, 3, 3, 3, 3, 3, 3, 3, 3, 4, 3, 4, 3, 2,
       4, 4, 3, 3, 3, 3, 3, 3, 4, 3, 3, 3, 3, 3, 2, 2, 4, 3, 4, 2, 4, 3,
       3, 4, 3, 3, 3, 3, 4, 3, 4, 3, 4, 2, 2, 4, 3, 4, 3, 2, 4, 3, 3, 2,
       4, 4, 4, 4, 3, 0, 3, 3, 3, 3, 1, 4, 3, 3, 3, 4, 3, 4, 3, 3, 3, 4,
       3, 3, 4, 4, 4, 4, 3, 3, 4, 3, 4, 3, 4, 4, 3, 4, 4, 3, 4, 4, 3, 3,
       3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 3, 2, 4, 4, 4, 4], dtype=int8)>

<h3> Shuffle  and batch the dataset </h3>

In [0]:
train_dataset = dataset.shuffle(len(df)).batch(1)

<h3> Create and train a model </h3>

In [0]:
def get_compiled_model():
  model = tf.keras.Sequential([
    tf.keras.layers.Dense(10, activation='relu'),
    tf.keras.layers.Dense(10, activation='relu'),
    tf.keras.layers.Dense(1)
  ])

  model.compile(optimizer='adam',
                loss=tf.keras.losses.BinaryCrossentropy(from_logits=True),
                metrics=['accuracy'])
  return model
  
def fit_model(model, dataset):
  model.fit(train_dataset, epochs=15)

In [17]:
model = get_compiled_model()
fit_model(model, dataset )

Epoch 1/15
WARNING:tensorflow:Layer dense_8 is casting an input tensor from dtype float64 to the layer's dtype of float32, which is new behavior in TensorFlow 2.  The layer has dtype float32 because it's dtype defaults to floatx.

If you intended to run this layer in float32, you can safely ignore this warning. If in doubt, this warning is likely only an issue if you are porting a TensorFlow 1.X model to TensorFlow 2.

To change all layers to have dtype float64 by default, call `tf.keras.backend.set_floatx('float64')`. To change just this layer, pass dtype='float64' to the layer constructor. If you are the author of this layer, you can disable autocasting by passing autocast=False to the base Layer constructor.

303/303 [==============================] - 0s 1ms/step - loss: 3.5848 - accuracy: 0.6766
Epoch 2/15
303/303 [==============================] - 0s 1ms/step - loss: 0.8156 - accuracy: 0.7294
Epoch 3/15
303/303 [==============================] - 0s 1ms/step - loss: 0.7009 - accuracy: 0.7195
Epoch 4/15
303/303 [==============================] - 0s 1ms/step - loss: 0.7037 - accuracy: 0.7162
Epoch 5/15
303/303 [==============================] - 0s 1ms/step - loss: 0.6042 - accuracy: 0.7360
Epoch 6/15
303/303 [==============================] - 0s 1ms/step - loss: 0.6508 - accuracy: 0.7393
Epoch 7/15
303/303 [==============================] - 0s 1ms/step - loss: 0.5700 - accuracy: 0.7393
Epoch 8/15
303/303 [==============================] - 0s 1ms/step - loss: 0.6251 - accuracy: 0.7261
Epoch 9/15
303/303 [==============================] - 0s 1ms/step - loss: 0.4935 - accuracy: 0.7657
Epoch 10/15
303/303 [==============================] - 0s 1ms/step - loss: 0.6034 - accuracy: 0.7525
Epoch 11/15
303/303 [==============================] - 0s 1ms/step - loss: 0.5679 - accuracy: 0.7525
Epoch 12/15
303/303 [==============================] - 0s 1ms/step - loss: 0.5077 - accuracy: 0.7723
Epoch 13/15
303/303 [==============================] - 0s 1ms/step - loss: 0.5504 - accuracy: 0.7789
Epoch 14/15
303/303 [==============================] - 0s 1ms/step - loss: 0.5088 - accuracy: 0.7987
Epoch 15/15
303/303 [==============================] - 0s 1ms/step - loss: 0.4879 - accuracy: 0.7756

<h3> Alternative to feature columns,h3>
<p>Passing a dictionary as an input to a model is as easy as creating a matching dictionary of tf.keras.layers.Input layers, applying any pre-processing and stacking them up using the functional api. You can use this as an alternative to feature columns.</p>

In [0]:
inputs = {key: tf.keras.layers.Input(shape=(), name=key) for key in df.keys()}  #these are column of the dataframe

In [0]:
def create_model(inputs):
  x = tf.stack(list(inputs.values()), axis=-1) # these are values of the dataframe
  x = tf.keras.layers.Dense(10, activation='relu')(x)
  output = tf.keras.layers.Dense(1)(x)
  model_func = tf.keras.Model(inputs=inputs, outputs=output)

  model_func.compile(optimizer='adam',
                   loss=tf.keras.losses.BinaryCrossentropy(from_logits=True),
                   metrics=['accuracy'])
  return model_func

<p>The easiest way to preserve the column structure of a pd.DataFrame when used with tf.data is to convert the pd.DataFrame to a dict, and slice that dictionary.</p>

In [20]:
dict_slices = tf.data.Dataset.from_tensor_slices((df.to_dict('list'), target.values)).batch(16)
for dict_slice in dict_slices.take(1):
  print (dict_slice)

model_func = create_model(inputs)


model_func.fit(dict_slices, epochs=15)

({'age': <tf.Tensor: shape=(16,), dtype=int32, numpy=
array([63, 67, 67, 37, 41, 56, 62, 57, 63, 53, 57, 56, 56, 44, 52, 57],
      dtype=int32)>, 'sex': <tf.Tensor: shape=(16,), dtype=int32, numpy=array([1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1], dtype=int32)>, 'cp': <tf.Tensor: shape=(16,), dtype=int32, numpy=array([1, 4, 4, 3, 2, 2, 4, 4, 4, 4, 4, 2, 3, 2, 3, 3], dtype=int32)>, 'trestbps': <tf.Tensor: shape=(16,), dtype=int32, numpy=
array([145, 160, 120, 130, 130, 120, 140, 120, 130, 140, 140, 140, 130,
       120, 172, 150], dtype=int32)>, 'chol': <tf.Tensor: shape=(16,), dtype=int32, numpy=
array([233, 286, 229, 250, 204, 236, 268, 354, 254, 203, 192, 294, 256,
       263, 199, 168], dtype=int32)>, 'fbs': <tf.Tensor: shape=(16,), dtype=int32, numpy=array([1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0], dtype=int32)>, 'restecg': <tf.Tensor: shape=(16,), dtype=int32, numpy=array([2, 2, 2, 0, 2, 0, 2, 0, 2, 2, 0, 2, 2, 0, 0, 0], dtype=int32)>, 'thalach': <tf.Tensor: shape=(16,), dtype=int32, numpy=
array([150, 108, 129, 187, 172, 178, 160, 163, 147, 155, 148, 153, 142,
       173, 162, 174], dtype=int32)>, 'exang': <tf.Tensor: shape=(16,), dtype=int32, numpy=array([0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0], dtype=int32)>, 'oldpeak': <tf.Tensor: shape=(16,), dtype=float32, numpy=
array([2.3, 1.5, 2.6, 3.5, 1.4, 0.8, 3.6, 0.6, 1.4, 3.1, 0.4, 1.3, 0.6,
       0. , 0.5, 1.6], dtype=float32)>, 'slope': <tf.Tensor: shape=(16,), dtype=int32, numpy=array([3, 2, 2, 3, 1, 1, 3, 1, 2, 3, 2, 2, 2, 1, 1, 1], dtype=int32)>, 'ca': <tf.Tensor: shape=(16,), dtype=int32, numpy=array([0, 3, 2, 0, 0, 0, 2, 0, 1, 0, 0, 0, 1, 0, 0, 0], dtype=int32)>, 'thal': <tf.Tensor: shape=(16,), dtype=int32, numpy=array([2, 3, 4, 3, 3, 3, 3, 3, 4, 4, 2, 3, 2, 4, 4, 3], dtype=int32)>}, <tf.Tensor: shape=(16,), dtype=int64, numpy=array([0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0])>)
Epoch 1/15
19/19 [==============================] - 0s 2ms/step - loss: 59.7032 - accuracy: 0.2739
Epoch 2/15
19/19 [==============================] - 0s 2ms/step - loss: 42.0273 - accuracy: 0.2739
Epoch 3/15
19/19 [==============================] - 0s 2ms/step - loss: 25.9256 - accuracy: 0.2904
Epoch 4/15
19/19 [==============================] - 0s 2ms/step - loss: 12.5740 - accuracy: 0.4059
Epoch 5/15
19/19 [==============================] - 0s 2ms/step - loss: 5.5481 - accuracy: 0.5776
Epoch 6/15
19/19 [==============================] - 0s 2ms/step - loss: 3.8329 - accuracy: 0.6931
Epoch 7/15
19/19 [==============================] - 0s 2ms/step - loss: 3.6479 - accuracy: 0.7063
Epoch 8/15
19/19 [==============================] - 0s 2ms/step - loss: 3.5936 - accuracy: 0.7096
Epoch 9/15
19/19 [==============================] - 0s 2ms/step - loss: 3.5429 - accuracy: 0.7129
Epoch 10/15
19/19 [==============================] - 0s 2ms/step - loss: 3.4959 - accuracy: 0.7129
Epoch 11/15
19/19 [==============================] - 0s 2ms/step - loss: 3.4475 - accuracy: 0.7129
Epoch 12/15
19/19 [==============================] - 0s 2ms/step - loss: 3.3985 - accuracy: 0.7129
Epoch 13/15
19/19 [==============================] - 0s 2ms/step - loss: 3.3502 - accuracy: 0.7129
Epoch 14/15
19/19 [==============================] - 0s 2ms/step - loss: 3.3017 - accuracy: 0.7129
Epoch 15/15
19/19 [==============================] - 0s 2ms/step - loss: 3.2526 - accuracy: 0.7129